################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ImageReading.slnx/FileContentIndex
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
